.DS_Store
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.xcf
*.db
*.html
.env
temp
Thumbs.db
node_modules


TODO: ignore the repo we decide to use for the assets
public/angular
public/views
public/stylesheets
public/images/watches
