//- Contains:
    (1) Left-aligned product logo image
    (2) Center-aligned Samsung logo image
    (3) Right-aligned date and time of event
        (3a) Time assumed static unless timezone
                functionality is requested
