//- Contains:
	(1) Left-aligned product logo image
	(2) Center-aligned Samsung logo image
	(3) Right-aligned date and time of event
	(3a) Time assumed static unless timezone
	functionality is requested - //
header
	img(src="https://d3f7fd3dacl55u.cloudfront.net/zero_header.jpg" alt="Samsung Galaxy Unpacked 2015: Tune into the Live Stream - March 1 6:30 CST")