//- Carousel of custom thumbnail images
    linked to videos.

    Carousel only visible post-livestream
    Thumbnail will be either screen-width
    or multiple thumbnails in a row
    depending on browser-width.

    Arrow controls at right and left for
    scrolling through carousel